<html lang="cs">
	<head>
		<meta charset="utf-8" />

		<title>{%block title%}Moje stránka{%endblock%}</title>

		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='logo.png') }}"
		/>

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		{% for category, message in get_flashed_messages(with_categories=True) %}
		<p class="message {{category}}">{{message}}</p>
		{% endfor %}

		<div class="navbar">
			<img
				class="top-bar-image"
				src="{{ url_for('static', filename='logo.png') }}"
			/>

			<div class="navbar-links">
				<a href="{{ url_for('index') }}">Home</a>
				<a href="{{ url_for('prsten') }}">Prsten</a>
				<a href="{{ url_for('retizek') }}">Řetízek</a>
				<a href="{{ url_for('naramek') }}">Náramek</a>
				<a href="{{ url_for('vzkazy') }}">Vzkazy</a>
			</div>

			<div class="navbar-login">
				{% if 'user' in session %} Uživatel: {{session['user']}}. {% else %}
				Nikdo není příhlášen {% endif %}

				<div class="navbar-login-buttons">
					<a href="{{url_for('login')}}">LOGIN</a>
					<a href="{{ url_for('registration') }}">REGISTRACE</a>
				</div>
			</div>
		</div>

		{% block obsah%} {% endblock %}
	</body>
</html>
